In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [11]:
train = pd.read_csv('train_data.csv', index_col = 0)
target = pd.read_csv('train_target.csv', index_col = 0)

In [12]:
train.head()

,id,date,bedrooms_number,batchrooms_number,square_footage_home,square_footage_lot,floors_number,has_waterfront,has_been_viewed,condition_quality,housing_unity_grade,square_footage_except_basement,square_footage_only_basement,build_year,renovation_year,coordinate_latitude,coordinate_longitude,square_footage_home_old,square_footage_lot_old
index,,,,,,,,,,,,,,,,,,,
0,16530,2014-05-02,2,2.00,1350,2560,1.0,0,0,3,8,1350,0,1976,0,200.6344,4.893,1790,2560
1,3651,2014-05-02,3,1.75,1800,23103,1.0,0,0,3,7,1800,0,1968,0,200.6517,5.094,1410,18163
2,13568,2014-05-02,3,1.75,2240,10578,2.0,0,0,5,8,1550,690,1923,0,200.6954,4.708,1570,10578
3,20352,2014-05-02,4,2.00,1820,5000,1.5,0,1,3,7,1640,180,1945,0,200.6815,4.731,2060,5000
4,10524,2014-05-02,4,1.75,1560,8700,1.0,0,0,4,7,1560,0,1967,0,200.7274,4.819,2080,8000

In [13]:
target.head()

       price
index
0      340.0
1      289.0
2      755.0
3      655.0
4      387.5

In [15]:
X_train, X_test, y_train, y_test = train_test_split(train, target, test_size=0.5, random_state=42)

In [16]:
X_train.head()

,id,date,bedrooms_number,batchrooms_number,square_footage_home,square_footage_lot,floors_number,has_waterfront,has_been_viewed,condition_quality,housing_unity_grade,square_footage_except_basement,square_footage_only_basement,build_year,renovation_year,coordinate_latitude,coordinate_longitude,square_footage_home_old,square_footage_lot_old
index,,,,,,,,,,,,,,,,,,,
17185,16803,2015-03-06,2,1.00,590,8717,1.0,0,0,3,6,590,0,1953,0,200.7343,4.665,1370,6760
3513,3494,2014-06-25,5,3.25,4500,9648,2.0,0,4,4,8,3000,1500,1968,0,200.7262,4.718,2780,21132
15748,10046,2015-02-04,2,0.75,890,19703,1.0,0,0,3,6,890,0,1934,0,200.4922,5.217,1270,9800
7964,7332,2014-08-28,2,2.00,1360,3300,2.0,0,0,3,6,1360,0,2004,0,200.3489,4.978,1310,3300
13270,14246,2014-12-02,2,2.25,850,1656,2.0,0,0,3,8,850,0,2001,0,200.7064,4.656,850,1312

In [18]:
X_train.to_csv('train.csv', index=False)
y_train.to_csv('target.csv', index=False)
X_test.to_csv('test.csv', index=False)

In [24]:
train = pd.read_csv('home/danil/ML/Server/Flask/test/train.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'home/danil/ML/Server/Flask/test/train.csv'

In [23]:
train

,id,date,bedrooms_number,batchrooms_number,square_footage_home,square_footage_lot,floors_number,has_waterfront,has_been_viewed,condition_quality,housing_unity_grade,square_footage_except_basement,square_footage_only_basement,build_year,renovation_year,coordinate_latitude,coordinate_longitude,square_footage_home_old,square_footage_lot_old
0,16803,2015-03-06,2,1.00,590,8717,1.0,0,0,3,6,590,0,1953,0,200.7343,4.665,1370,6760
1,3494,2014-06-25,5,3.25,4500,9648,2.0,0,4,4,8,3000,1500,1968,0,200.7262,4.718,2780,21132
2,10046,2015-02-04,2,0.75,890,19703,1.0,0,0,3,6,890,0,1934,0,200.4922,5.217,1270,9800
3,7332,2014-08-28,2,2.00,1360,3300,2.0,0,0,3,6,1360,0,2004,0,200.3489,4.978,1310,3300
4,14246,2014-12-02,2,2.25,850,1656,2.0,0,0,3,8,850,0,2001,0,200.7064,4.656,850,1312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8635,8672,2014-10-24,3,1.00,1210,6650,1.0,0,0,3,6,1210,0,1959,0,200.6214,4.880,990,7590
8636,9321,2014-11-05,3,2.50,2430,7049,2.0,0,0,3,8,2430,0,2007,0,200.5399,4.648,1770,7049
8637,19320,2014-07-22,3,2.50,2510,3819,2.0,0,0,3,8,2510,0,2007,0,200.6987,4.904,2520,3990
8638,16405,2014-05-16,4,2.50,3160,11380,2.0,0,0,3,9,3160,0,1983,0,200.6318,4.961,2970,10385
8639,2441,2015-02-05,4,2.50,4020,44431,2.0,0,0,3,10,4020,0,1987,0,200.7467,4.868,3440,52900