In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
train = pd.read_csv('train_data.csv', index_col = 0)
target = pd.read_csv('train_target.csv', index_col = 0)

In [4]:
train.head()

,id,date,bedrooms_number,batchrooms_number,square_footage_home,square_footage_lot,floors_number,has_waterfront,has_been_viewed,condition_quality,housing_unity_grade,square_footage_except_basement,square_footage_only_basement,build_year,renovation_year,coordinate_latitude,coordinate_longitude,square_footage_home_old,square_footage_lot_old
index,,,,,,,,,,,,,,,,,,,
0,16530,2014-05-02,2,2.00,1350,2560,1.0,0,0,3,8,1350,0,1976,0,200.6344,4.893,1790,2560
1,3651,2014-05-02,3,1.75,1800,23103,1.0,0,0,3,7,1800,0,1968,0,200.6517,5.094,1410,18163
2,13568,2014-05-02,3,1.75,2240,10578,2.0,0,0,5,8,1550,690,1923,0,200.6954,4.708,1570,10578
3,20352,2014-05-02,4,2.00,1820,5000,1.5,0,1,3,7,1640,180,1945,0,200.6815,4.731,2060,5000
4,10524,2014-05-02,4,1.75,1560,8700,1.0,0,0,4,7,1560,0,1967,0,200.7274,4.819,2080,8000

In [5]:
target.head()

       price
index
0      340.0
1      289.0
2      755.0
3      655.0
4      387.5

In [6]:
X_train, X_test, y_train, y_test = train_test_split(train, target, test_size=0.25, random_state=42)

In [7]:
X_train.head()

,id,date,bedrooms_number,batchrooms_number,square_footage_home,square_footage_lot,floors_number,has_waterfront,has_been_viewed,condition_quality,housing_unity_grade,square_footage_except_basement,square_footage_only_basement,build_year,renovation_year,coordinate_latitude,coordinate_longitude,square_footage_home_old,square_footage_lot_old
index,,,,,,,,,,,,,,,,,,,
14583,452,2014-12-31,4,2.50,2280,27441,2.0,0,0,3,8,2280,0,1996,0,200.7628,4.877,2350,35020
7517,3407,2014-08-21,4,2.75,2790,8092,2.0,0,0,3,8,2790,0,2013,0,200.4834,5.227,2790,6154
13838,5033,2014-12-11,3,2.50,2000,1950,3.0,0,0,3,8,2000,0,2005,0,200.6476,4.644,1560,1340
15539,16862,2015-01-29,4,1.00,1010,7515,1.0,0,0,4,6,1010,0,1955,0,200.4174,4.684,1330,7515
15563,15241,2015-01-29,5,2.50,3320,7266,2.0,0,0,3,9,3320,0,2000,0,200.5862,4.946,3060,10269

In [8]:
X_train.to_csv('train.csv', index=False)
y_train.to_csv('target.csv', index=False)
X_test.to_csv('test.csv', index=False)
y_test.to_csv('test_answer.csv', index=False)

In [9]:
train = pd.read_csv('home/danil/ML/Server/Flask/test/train.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'home/danil/ML/Server/Flask/test/train.csv'

In [10]:
train

,id,date,bedrooms_number,batchrooms_number,square_footage_home,square_footage_lot,floors_number,has_waterfront,has_been_viewed,condition_quality,housing_unity_grade,square_footage_except_basement,square_footage_only_basement,build_year,renovation_year,coordinate_latitude,coordinate_longitude,square_footage_home_old,square_footage_lot_old
index,,,,,,,,,,,,,,,,,,,
0,16530,2014-05-02,2,2.00,1350,2560,1.0,0,0,3,8,1350,0,1976,0,200.6344,4.893,1790,2560
1,3651,2014-05-02,3,1.75,1800,23103,1.0,0,0,3,7,1800,0,1968,0,200.6517,5.094,1410,18163
2,13568,2014-05-02,3,1.75,2240,10578,2.0,0,0,5,8,1550,690,1923,0,200.6954,4.708,1570,10578
3,20352,2014-05-02,4,2.00,1820,5000,1.5,0,1,3,7,1640,180,1945,0,200.6815,4.731,2060,5000
4,10524,2014-05-02,4,1.75,1560,8700,1.0,0,0,4,7,1560,0,1967,0,200.7274,4.819,2080,8000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17275,7718,2015-03-10,4,2.50,1921,4888,2.0,0,0,3,7,1921,0,2009,0,200.2689,4.760,1921,9140
17276,4556,2015-03-10,3,2.50,1890,11036,1.0,0,0,3,8,1460,430,1973,0,200.7426,4.646,2040,7524
17277,11634,2015-03-10,3,1.00,1380,10112,1.0,0,0,4,7,940,440,1963,0,200.3196,4.649,1240,10112
17278,16309,2015-03-10,2,1.00,960,5000,1.0,0,0,3,6,960,0,1951,0,200.5188,4.628,930,5000
17279,16613,2015-03-10,3,2.25,2190,8188,2.0,0,0,3,8,1810,380,1978,0,200.6883,4.887,2190,8374